<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <!-- Packaging properties -->
    <!--
		<PackageAuthor></PackageAuthor>
		<PackagePublisher></PackagePublisher>
		<PackageVersion></PackageVersion>
		<PackageReadme></PackageReadme>
		<SitecoreAssemblyPath></SitecoreAssemblyPath>
		<GeneratePackage></GeneratePackage>
		<SeperateFilesAndItems></SeperateFilesAndItems>
		<AddDateTimeToPackageName></AddDateTimeToPackageName>
		-->
    <!-- Deployment Properties -->
    <SitecoreWebUrl>http://site.activecommerce.training</SitecoreWebUrl>
		<SitecoreDeployFolder>C:\Sitecore\ActiveCommerceTraining\Website</SitecoreDeployFolder>
		<!--<RecursiveDeployAction></RecursiveDeployAction>
		<InstallSitecoreConnector></InstallSitecoreConnector>
		<SitecoreAccessGuid></SitecoreAccessGuid>
    <DisableFileDeployment></DisableFileDeployment>-->
    
    <!-- NuGet package properties -->
    <!--
		<NuGetGenerateNuGetPackage></NuGetGenerateNuGetPackage>
		<NuGetSummary></NuGetSummary>
		<NuGetDescription></NuGetDescription>
		<NuGetTitle></NuGetTitle>
		<NuGetVersion></NuGetVersion>
		<NuGetPackageId></NuGetPackageId>
		<NuGetAuthors></NuGetAuthors>
		<NuGetProjectUrl></NuGetProjectUrl>
		<NuGetTags></NuGetTags>
		<NuGetRequireLicenseAcceptance></NuGetRequireLicenseAcceptance>
		<NuGetReleaseNotes></NuGetReleaseNotes>
		<NuGetLanguage></NuGetLanguage>
		<NuGetOwners></NuGetOwners>
		<NuGetCopyright></NuGetCopyright>
		<NuGetLicenseUrl></NuGetLicenseUrl>
		<NuGetIconUrl></NuGetIconUrl>
		<NuGetDependencies></NuGetDependencies>
		-->
    <!-- Validation Properties -->
    <!--
		<EnableValidations></EnableValidations>
		<ValidationSettingsFilePath></ValidationSettingsFilePath>
		-->
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
  </PropertyGroup>
</Project>